/*the site as a whole has been written using vanilla JavaScript (ES6) and CSS3 with a strong emphasis on 
quick, easy, long-term website maintenance in mind*/
/*when adding new features please refrain from using frameworks like bootstrap*/
/*or the reactJS library, unless absolutely neccesary.*/
/*the code is straightforward enough if you know what you are doing*/

*{
    margin: 0;
    padding: 0;
    --bannerHeight: 5.21rem;
    --banner_accent: #dfdad6bb;
    --contrast_accent: #00000099;
    --link_nav: #4e443e;
    --link_navHighlight: #ca983d;
--landingHeight:770px;
    --menu_accent:#726259;
    --imgBlk_accent: #dfdad609;
    --accentMain: #ffffff;
    --accentMain_TabletMode: goldenrod;
    --fb: #3c67b2;
    --ig: goldenrod;
    --ws: yellowgreen;
    --home_topLeft: #fff;
    --menu_mainLinks: #ffffff;
    --menu_collapsedLinks: #fff;
    --menu_collapsedLinksBorders: #3c463b17;
    --menu_collapsedLinksCard: #dfdad6;
    --position: calc(var(--landingHeight) - (var(--bannerHeight)));
    user-select: none;
}
body a{
    text-decoration: none;
}
.link{
    cursor: pointer;
}
#positioner{
    position: relative;
    width: 100vw;
    height: var(--position);
}

/*fonts embedded*/
@font-face {
    font-family: 'Nunito Italic';
    src: url('/fonts/Nunito-italic.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-regular.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Nunito bold';
    src: url('/fonts/Nunito-bold.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Olde English Regular';
    src: url('/fonts/OldeEnglish.woff') format('woff');
    }


    /*title with top-corner church image inset*/
#headerCaption{
    font-family: Olde English Regular;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--link_nav);
    margin-top: 1.5rem;
    line-height: 0.7;
}
#headerCaption a {
    color: var(--link_nav);
}
#headerCaption a:hover{
    color: var(--link_navHighlight);
}
#headerCaption span{
    font-family: Nunito;
    font-size: 0.9rem;
    cursor: auto;    
}/*recall that this span is to enable toggling of address visibility if site is switched to mobile view

/*the church courtyard backdrop*/
#landing{
    position:absolute;
    height: var(--landingHeight);
    width: 100vw;
    background-image: url('./img/west.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#contrast{
    position: absolute;
    background: var(--contrast_accent);
    height: 100vh;
height: var(--landingHeight);
    width: 100vw;
    /* opacity: 0.7; */
}

.main{
    position: absolute;
    /*dimension and position values defined in respective media queries*/
    color: var(--accentMain);
    font-size: 4.5rem;
    font-family:'Segoe UI', Tahoma, sans-serif;
    
}
.main p{
    font-family: Nunito;
}

#missionStatement, #massTimes, .temp {
    position: relative;
    /*dimensions defined in respective media queries*/
    margin: auto;
}

.menu{
    width: 100vw;
    position: sticky;
    top: 0;
    height: 2.17rem;
    background-color: var(--menu_accent);
    opacity: 1;
    z-index: 3;
}

#imgBlk{
    position: relative;
    /*dimension properties defined in respective media queries*/
    border-bottom-left-radius: 15%;
    background-color: var(--imgBlk_accent);
    background-image: url('/img/skee346.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#imgTop{
float: left; clear: both;
    width: 7rem;
    height: 140%;
    margin: 0.5rem 0.6rem 0rem 2.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/*the banner and asscociated links concerns*/
#banner{
    position: relative;
    width: 100vw;
    height: var(--bannerHeight);
    background-color: var(--banner_accent);
    opacity: 0.9;
    z-index: 5;
    display: grid;
    grid-template-rows: 25% 20% 17.5% 37.5%;
    grid-template-columns: 3.5fr 2fr 1.5fr 3fr;
    grid-template-areas:
    "ofu . . ."
    "ofu ibuo ito ino"
    "ofu ibuo ito ino"
    "ofu ibuo ise ."
}
.sectionA{
    font-family: 'Olde English Regular';
    grid-area: ofu;
}
.sectionB{
    grid-area: ibuo;
}

.sectionC{
    grid-area: ito;
    text-align: right;
}/*recall that this section has the social media links*/
/*social links concerns*/
.social{
    margin-left: 0.2rem;
}
#fb:hover{
    background-color: var(--fb);
    box-shadow: 4px 2px 3px var(--fb);
}
#ig:hover{
    background-color: var(--ig);
    box-shadow: 4px 2px 3px var(--ig);
}
#ws:hover{
    background-color: var(--ws);
    box-shadow: 4px 2px 3px var(--ws);
}
/*end of social links concerns for desktop and tablets*/


.sectionD{
    grid-area: ino;
}/*recall that this section has the

/*optional mass and contact buttons only visible on desktop site*/
#massEnq, #contEnq{
    position: absolute;
    width: 7rem;
    height: 2rem;
    right: 10rem;
    font-family: Nunito;
    box-sizing: border-box;
    padding-top: 0.5rem;
    cursor: pointer;
    color: var(--link_nav);
    font-weight: bold;
}
#contEnq{
    right: 1rem;
}
#massEnq a, #contEnq a{
    color: var(--link_nav);
}

@media only screen and (max-width: 959.98px){
    #contEnq, #massEnq{
        display: none;
    }
}
/*end of optional mass & contacts buttons concerns*/

.sectionE{
    grid-area: ise;
}/*this section is to contain the intended
colour scheme-changing buttons for day and night browsing
to be included at a later time*/


/*body of text and all that comes after the landing image*/
#missionStatement, #massTimes{
    background: var(--banner_accent);
    color: var(--menu_accent);
    color: var(--link_nav);
}
.missionBar{
    position: relative;
    border: 2px solid var(--menu_accent);
    width: 50vw;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}
#missionStatement, .temp{
    width: 84vw;
    height: 12rem;
    margin-bottom: 3rem;
    padding: rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

#mst_head, #mst_end{
    position: relative;
    top: 1rem;
    text-align: right;
    margin-right: 21rem;
    margin-bottom: 1rem;
    font-family: Nunito;
    font-size: 1.6rem;
}
#mst_text{
    position: relative;
    font-family: "Nunito italic";
    font-size: 3rem;
    text-align: right;
    margin-right: 3rem;
}
#mst_end{
    font-family:"Nunito italic";
    margin-right: 2rem;
    font-size: 1.2rem;
}
#massTimes{
    width: 84vw;
    height: 42rem;
    margin-bottom: 3rem;
    padding: rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
}
.sideBar{
    display: none;
}/*this is to dispay only on mobile*/

/*this is the structuring for the table for mass times and confession schedules*/
#scheduleBoard, #scheduleBoard_2{
    position: relative;
    margin: auto;
    width: 97%;
    display: table;
}
#scheduleBoard_2{
    position: absolute;
    width: 100%;
}

#boardTitle, #boardTitle_2{
    display: table-caption;
    /* text-align: left; */
    font-size: 3rem;
    font-family: "Olde English Regular";
    height: 6rem;
}
#boardTitle_2{
    height: 4.6rem;
}
#boardTitle p{
    margin-top: 2rem;
    text-align: center;
}

#boardTitle_2 p{
    margin-top: 1rem;
    text-align: center;
}

#boardHeader{
    display: table-header-group;
    background-color: var(--link_nav);
    color: var(--link_navHighlight);
    font-family: Nunito;
    font-size: 1.5rem;
}
.boardHeaderContent{
    display: table-cell;
    padding: 0.5rem;
    text-align: left;
    background-color: var(--banner_accent);
    color: var(--link_nav);
}
.boardHeaderContent:nth-child(2){
    border-left: 3px solid #000;
}

.boardHeaderContent:nth-child(5), .vap{
    display: none;
}

#boardBackdrop{
    display: table-row-group;
}

.boardRow, .boardRow_2{
    display: table-row;
}
.boardRow:nth-of-type(2){
    background: var(--menu_accent);
    border-bottom: 3px solid var(--link_nav);
    color: var(--link_navHighlight);
}

.board_cellColumn{
    display: table-cell;
    font-family: Nunito;
    font-size: 1.3rem;
    padding: 1rem;
}
#c1_1, #c2_1{
    color: var(--link_navHighlight);
}
#c3_1{
    background: var(--fb);
    color: white;
    font-size: 1.2rem;
}

#boardFooter{
    display: table-footer-group;
    background-color: var(--menu_accent);
    font-size: 1rem;
    color: whitesmoke;
}
.boardFooter_cellColumn{
    display: table-cell;
    padding: 0.5rem;
    border-bottom: 5px solid var(--link_nav);
}

    .adoration{
        font-weight: bold;
    }

/*end of mass times and confessions schedule*/

.temp{
    background: var(--fb);
}

/*///////////////////////////////////*/

/*mobile menu concerns*/
#hamburger{
    display: none;
    display: block;
    position: absolute;
    scale: 0.7;
    top: 0;
    cursor: pointer;
}
.srg{
    width: 2.19rem;
    height: 0.31rem;
    background-color: var(--banner_accent);
    margin: 0.375rem 0;
    transition: 0.4s;
}
.flip .ia{
    transform: translate(0,0.69rem) rotate(-45deg);
}
.flip .ib{
    opacity: 0;
}
.flip .ic{
    transform: translate(0, -0.69rem) rotate(45deg);
}

/*all devices not mobile*/
@media only screen and (min-width: 960px){
    #landing{
        background-size: cover;
        background-position-x: center;
    }
}


/*low to mid res desktop*/
@media only screen and (min-width: 960px) and (max-width: 1335.98px){
    #banner{
    grid-template-columns: 5.5fr 0fr 1.5fr 3fr;
    grid-template-areas:
    "ofu . . ."
    "ofu ibuo ito ino"
    "ofu ibuo ito ino"
    "ofu ibuo ise ."
}
}

/*overlap of low res device*/
@media only screen and (min-width: 960px) and (max-width: 1024.98px){
    #imgBlk{
        width: 16rem;
        height: 18rem;
        top: -16rem; /*varies, dependent upon the '.main' div's position top*/
        left: -20rem;
    }
    .main{
        top: 13rem;     
        width: 60%;
        left: 23rem;
        font-size: 4rem;
    }
}

/*overlap of mid res desktop*/
@media only screen and (min-width: 1025px){
    #imgBlk{
        width: 16rem;
        height: 18rem;
        top: -13rem;
        left: -20rem;
    }
    .main{
        top: 14rem;
        width: 60%;
        left: 23rem;
        font-size: 4rem;
    }
}

/* high res desktop*/
@media only screen and (min-width: 1336px){
    #imgBlk{
        width: 15rem;
        height: 17rem;
        top: -12.7rem;
        left: -15.2rem;
        background-color: #00000000;
    }
    .main{
        top: 13rem;
        width: 65%;
        left: 35%;
        height: 10rem;
        font-size: 4.2rem;
    }
}
/*remember to keep query cascade in this order*/
/*website not optimised for 4K resolution.. might get around to that later if time permits.

/*include background transitions for the homepage*/



/*tablets*/
@media only screen and (min-width: 600px) and (max-width: 959.98px){
    *{
        --bannerHeight: 4.5rem;
        --landingHeight: 27rem;
    }
    
    #landing{
        background-size: cover;
        height: var(--landingHeight);
        /*avocat*/
    }
    #contrast{
        height: var(--landingHeight);
    }
    #imgTop{
        margin-left: 0.2rem;
    }
    #banner{
        position: relative;
        height: var(--bannerHeight);
        grid-template-columns: 4fr 0fr 1fr 0fr;
        grid-template-areas:
        "ofu . . ."
        "ofu ibuo ito ino"
        "ofu ibuo ito ino"
        "ofu ibuo ise ino"
    }
    #headerCaption{
        margin-top: 0.8rem;
    }
    .sectionC{
        margin-right: 0.3rem;
        margin-top: -0.4rem;
    }/* recall that this contians the social media links*/

    .extras{
        right: 0;
    }
    .dropBtn{
        font-size: 0.7rem;
        padding-right: 0.3rem;
        box-sizing: content-box;
    }

    #imgBlk{
        position: absolute;
        top: 0.5rem;
        width: 10.5rem;
        height: 12rem;
        left: -11rem;
        border-bottom-left-radius: 0;
        background-color: var(--imgBlk_accent);
    }
    .main{
        position: absolute;
        font-size: 2.5rem;
        top: 6.5rem;
        width: 16rem;
        height: 11rem;
        left: 17rem;
        color: var(--accentMain_TabletMode);
    }
    .main p{
        margin-top: 1.5rem;
        font-family: Nunito;
    }
    #mst_head{
        font-size: 1.3rem;
        margin-right: 0rem;
        text-align: center;
    }
    #mst_text{
        font-size: 2rem;
    }
    #scheduleBoard{
        transform: scaleX(0.85) scaleY(0.8);
        position: absolute;
        left: -0.2rem;
        top: -3rem;
    }

}

@media only screen and (min-width:665px) and (max-width:859.98px){
    #headerCaption{
        font-size: 2rem;
    }
}

@media only screen and (min-width:860px) and (max-width:959.98px){
    #headerCaption{
        font-size: 2.5rem;
    }
}

/*mid resolution mobiles*/
@media only screen and (max-width: 599.98px){
    *{
        --bannerHeight: 4.5rem;
        --landingHeight: 24rem;
        --position: calc(var(--landingHeight) - 6rem);
        --banner_accent:#dfdad6;
    }
#banner{
    opacity: 1;
}
    .dropBtn, .spacer p{
        display: none;
    }
    #hamburger, .sideBar{
        display: block;
    }
    .boardHeaderContent:nth-child(1),.boardHeaderContent:nth-child(2), #boardFooter{
        display: none;
    }
    
    #hr2{
        display: none;
    }
    
    #scheduleBoard{
        transform: scaleX(0.85) scaleY(0.58);
        position: absolute;
        left: -0.2rem;
        top: -6.7rem;
    }

/*fine-tuning the schedule board*/
@media only screen and (max-width: 561px){
    #scheduleBoard{
        top: -7.3rem;
    }
}
@media only screen and (max-width: 530px){
    #scheduleBoard{
        left: -0.5rem;
    }
}
@media only screen and (max-width: 521px){
    #scheduleBoard{
        left: -1rem;
    }
}
@media only screen and (max-width: 504px){
    #scheduleBoard{
        left: -1.5rem;
    }
}
@media only screen and (max-width: 490px){
    #scheduleBoard{
        left: -1.6rem;
    }
}
@media only screen and (max-width: 485px){
    #scheduleBoard{
        transform: scaleX(0.82) scaleY(0.58);
        left: -2rem;
    }
}
@media only screen and (max-width: 470px){
    #scheduleBoard{
        transform: scaleX(0.8) scaleY(0.58);
        left: -2.3rem;
    }
}
@media only screen and (max-width: 460px){
    #scheduleBoard{
        transform: scaleX(0.75) scaleY(0.58);
        left: -2.5rem;
        top: -7.5rem;
    }
}
@media only screen and (max-width: 450px){
    #scheduleBoard{
        transform: scaleX(0.65) scaleY(0.55);
        position: absolute;
        left: -2.8rem;
        top: -7rem;
    }
}
@media only screen and (max-width: 424px){
    #scheduleBoard{
        transform: scaleX(0.7) scaleY(0.55);
        position: absolute;
        left: -3.2rem;
        top: -7rem;
    }
}

/*end of fine-tuning*/

    #landing{
        top: 0;
        background-size:210%;
        height: var(--landingHeight);
        background-position-x: center;
        /* background-position-y: 2.5rem; */
    }
    #contrast{
        top: 0;
        height: var(--landingHeight);
    }

    .menu{
        width: 100vw;
        position: sticky;
        top: 0;
        height: 3.17rem;
        background-color: var(--menu_accent);
        opacity: 1;
        z-index: 3;
    }
    /* 
    .menu{
        top: 4.5rem;
    } 
    #banner{
    position: fixed;
    */
    #banner{
        position: relative;
        height: var(--bannerHeight);
        grid-template-columns: 5fr 0fr 2fr 0fr;
        grid-template-areas:
        "ofu . . ."
        "ofu ibuo ito ino"
        "ofu ibuo ito ino"
        "ofu ibuo ise ino"
    }

    #headerCaption{
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: 0.8rem;
    }
    #headerCaption span{
        position: absolute;
        visibility: hidden;
        top:0; font-size: 0.7rem; left: 0;
    }
    #headerCaption span::after{
        font-size: 0.95rem;
        font-weight: bold;
        position: absolute;
        visibility: visible;
        top: 3.25rem; left: 3.6rem;
        content:'Bodija, Ibadan.'
    }
    #headerCaption:hover span::after{
        color: var(--link_nav);
    }

    #imgTop{
        width: 3rem; height: 3.6rem;
        margin-left: 0.2rem;
        margin-right: 0.3rem;
    }
    #imgBlk{
        position: absolute;
        top: -0.5rem;
        width: 10.5rem;
        height: 12rem;
        left: -11rem;
        border-bottom-left-radius: 0;
        background-color: var(--imgBlk_accent);
    }

    .main{
        position: absolute;
        font-size: 1.7rem;
        top: 9.5rem;
        width: 10rem;
        height: 11rem;
        left: 12rem;
        color: var(--accentMain);
    }
    .main p{
        margin-top: 1.5rem;
        font-family: Nunito;
    }
    .social{
        margin-left: 0rem;
        margin-right: 0.2rem;
        margin-top: 0.3rem;
        width: 2rem;
    }
    #fb:active{
        box-shadow: 4px 2px 3px var(--fb);
        background-color: var(--fb);
    }
    #ig:active{
        box-shadow: 4px 2px 3px var(--ig);
        background-color: var(--ig);
    }
    #ws:active{
        box-shadow: 4px 2px 3px var(--ws);
        background-color: var(--ws);
    }
    .sectionC{
        position: absolute;
        position: fixed;

        top: 2rem; right: 0.5rem; width: 8rem;
    }

    .missionBar{
        margin-bottom: 1rem;
    }

    #missionStatement, .temp{
        width: 84vw;
        height: 11rem;
        margin-bottom: 1rem;
    }

    #mst_head, #mst_end{
        top: 1rem;
        margin-right: 2rem;
        margin-bottom: 0.3rem;
        font-size: 1.1rem;
    }
    #mst_text{
        font-size: 1.4rem;
        text-align: left;
        margin-left: 2rem;
    }
    #mst_end{
        margin-right: 2rem;
        font-size: 1rem;
    }
    #massTimes{
        width: 84vw;
        height: 27rem;
        margin-bottom: 3rem;
        padding: rem;
        box-sizing: border-box;
        border-radius: 0.6rem;
    }
}

/*low res mobiles*/

@media only screen and (max-width: 351px){
    #landing, #contrast, #banner, .menu{
        width: 105vw;
    }
}


/*the mobile version menu concerns*/
.sideBar{
    position: fixed;
    top: 0;
    left: -14rem;
    width: 14rem;
    height: 25rem;
    background-color: var(--fb);
    cursor: pointer;
    transition: 0.7s;
}
#sideBarBuffer{
    position: relative;
    top: 0;
    height: 15vh;
    width: 10rem;
    background: #0099ff;
    border-bottom-right-radius: 1rem;
    color: white;
}
#sideBarBuffer p{
    position: absolute;
    top: 3.5rem; right: 1rem;
    font-size: 1.3rem;
    font-family: Nunito;
}
#sideBarContent{
    position: fixed;
    top: 7.68rem;
    width: 14rem;
    height: 84vh;
    background: var(--fb);
    box-sizing: border-box;
    font-family: Nunito;
}
/* .barMenu{
    position: relative;
    width: 100%;
    background: var(--link_nav);
}
#sideBarContent .barMenu p{
    height: 3rem;
    font-size: 1.3rem;
    box-sizing: border-box;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
    border: 3px solid var(--fb);
}
#sideBarContent .barMenu li{
    list-style: none;
    font-size: 1.4rem;
    background: var(--menu_accent);
    box-sizing: border-box;
    padding-top: 1rem;
    padding-left: 1rem;
    height: 3rem;
    border-top: 1px solid var(--banner_accent);
}
.barMenu button{
    width: 2rem;
    height: 1.6rem;
    position: absolute; 
    top: 0.6rem;
    right: 1rem;
}

.bm1{
    background: blue;
}
.bm2{
    background: red;
    top:-15rem;
}
.bm3{
    background: yellow;
    top:-30rem;
}
.bm4{
    background: purple;
    top:-45rem;
}
.bm5{
    background: orange;
    top:-60rem;
}
.bm6{
    width: 100%;
    height: 15rem;
    background: green;
    background: var(--fb);
    top:-75rem;
} */

#sideBarContent a, .listButton{
    padding: 6px 8px 6px 16px;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    display: block;
    border: none;
    background: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    text-align: left;
} 

#sideBarContent a:hover, .listButton:active{
    color: blue;
}
.major{
    margin-left: 1rem;
    font-size: 1.5rem;
    padding: 0px 10px;
}

.engaged{
    background-color: orange;
    color: whitesmoke;
}
.listbox{
    display: none;
    background-color: purple;
    padding-left: 6px;
}
.fa-caret-down{
    float: right;
    padding-right: 8px;
}



/*inchoate stage*/
.vis{
    transform: translateX(14rem);
}
.reveal{
    transition: 1s;
    transform: translateY(14.8rem);
}
/*end inchoate stage*/


/*the web version menu concerns*/
@media only screen and (min-width: 600px){
    .menu{
        display: grid;
        grid-template-columns: 0.6fr 0.4fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "spacer menu1 menu2 menu3 menu4 menu5 menu6";
    }
}
@media only screen and (min-width: 600px) and (max-width: 750px){
    .dropmenu1{
        display: none;
    }
}

@media only screen and (min-width: 620px) and (max-width: 1275px){
    .menu{
        display: grid;
        grid-template-columns: 0.8fr 0.2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "spacer menu1 menu2 menu3 menu4 menu5 menu6";
    }
}

.spacer{
    grid-area: spacer;
    text-align: center;
}
.spacer a{
    text-decoration: none;
    color: var(--home_topLeft);
    font-family: Nunito;
}
.spacer p{
    padding-top: 0.4rem;
}

.dropmenu1{
    grid-area: menu1;
}
.dropmenu2{
    grid-area: menu2;
}
.dropmenu3{
    grid-area: menu3;
}
.dropmenu4{
    grid-area: menu4;
}
.dropmenu5{
    grid-area: menu5;
}
.dropmenu6{
    grid-area: menu6;
    background: var(--fb);
}
.drop{
    position: relative;
    top: 0rem;
    display: inline-block;
    cursor: pointer;
}

.dropBtn, .drop p{
    color: var(--menu_mainLinks);
    text-align: center;
    padding-top: 0.6rem;
    font-family: "Nunito bold";
}
.dropBtn{
    height: 1.5rem;
}
.dropLinks{
    position: absolute;
    display: none;
    background-color: var(--menu_collapsedLinksCard);
    min-width: 18rem;
    box-shadow: 0px 8px 16px 8px #000000cc;
}
    .dropLinksExtra{
        position: absolute; left: 5rem; top:-1rem;
        display: none;
        background-color: var(--menu_collapsedLinksCard);
        min-width: 18rem;
        box-shadow: 0px 8px 16px 8px #000000cc;
}
.dropLinks a{
    padding: 0.8rem 2rem;
    border: solid 1px var(--menu_collapsedLinksBorders);
    color: var(--link_nav);
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Nunito italic";
    text-decoration: none;
    display: block;
}
    .dropLinksExtra a{
        padding: 0.8rem 2rem;
        border: solid 1px var(--menu_collapsedLinksBorders);
        color: var(--link_nav);
        font-size: 1.1rem;
        font-weight: bold;
        font-family: "Nunito italic";
        text-decoration: none;
        display: block;
}

.dropLinks a:hover{
    background-color: var(--menu_accent);
    color: var(--menu_collapsedLinks);
    font-weight: normal;
}
    .dropLinksExtra a:hover{
        background-color: var(--menu_accent);
        color: var(--menu_collapsedLinks);
        font-weight: normal;
    }
    
.drop:hover .dropLinks{
    display: block;
}
    .overview:hover .dropLinksExtra{
        display: block;
    }
    .parishFinance:hover .dropLinksExtra{
        display: block;
    }
    .parishOffice:hover .dropLinksExtra{
        display: block;
    }
    .funerals:hover .dropLinksExtra{
        display: block;
    }
    .adultFaith:hover .dropLinksExtra{
        display: block;
    }

.drop:hover{
    background: var(--link_navHighlight);
}

.support{
    right: 0;
}
@media only screen and (min-width: 600px){
    #hamburger{
        display: none;
    }
}
/*end of web version dropmenu concerns*/


@media only screen and (max-width: 420px){
    #scheduleBoard{
        transform: scaleX(0.65) scaleY(0.55);
        position: absolute;
        left: -3.8rem;
        top: -7.5rem;
    }
}
@media only screen and (max-width: 380px){
    #scheduleBoard{
        transform: scaleX(0.6) scaleY(0.55);
        position: absolute;
        left: -4.9rem;
        top: -7.5rem;
    }
}
