/*the site as a whole has been written using vanilla JavaScript (ES6) and CSS3 with a strong emphasis on 
quick, easy, long-term website maintenance in mind*/
/*when adding new features please refrain from using frameworks like bootstrap*/
/*or the reactJS library, unless absolutely neccesary.*/
/*the code is straightforward enough if you know what you are doing*/

*{
    margin: 0;
    padding: 0;
    --bannerHeight: 5.21rem;
    --banner_accent: #dfdad6bb;
    --contrast_accent: #00000099;
    --link_nav: #4e443e;
    --link_navHighlight: #ca983d;
    --menu_accent:#726259;
    --imgBlk_accent: #dfdad609;
    --accentMain: #ffffff;
    --accentMain_TabletMode: goldenrod;
    --fb: #3c67b2;
    --ig: goldenrod;
    --ws: yellowgreen;
    --home_topLeft: #fff;
    --menu_mainLinks: #ffffff;
    --menu_collapsedLinks: #fff;
    --menu_collapsedLinksBorders: #3c463b17;
    --menu_collapsedLinksCard: #dfdad6;
    --position: calc(var(--landingHeight) - (var(--bannerHeight)));
--landingHeight:770px;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 0.7rem; height:0;
}

body::-webkit-scrollbar-track{
    /* background-color: var(--link_navHighlight); */
    border-radius: 2rem;
    box-shadow: inset 0px 0px 20px var(--fb);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--fb);
    width: 1rem;
    border-radius: 2rem;
}

body::-webkit-scrollbar-thumb:hover{
    cursor: help;
    background-color: #4e443e;
}

body a{
    text-decoration: none;
}
.link{
    cursor: pointer;
}
#positioner{
    position: relative;
    width: 100vw;
    height: var(--position);
}

/*fonts embedded*/
@font-face {
    font-family: 'Nunito Italic';
    src: url('/fonts/Nunito-italic.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('/fonts/Nunito-regular.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Nunito bold';
    src: url('/fonts/Nunito-bold.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'Olde English Regular';
    src: url('/fonts/OldeEnglish.woff') format('woff');
    }


    /*title with top-corner church image inset*/
#headerCaption{
    font-family: Olde English Regular;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--link_nav);
    margin-top: 1.5rem;
    line-height: 0.7;
}
#headerCaption a {
    color: var(--link_nav);
}
#headerCaption a:hover{
    color: var(--link_navHighlight);
}
#headerCaption span{
    font-family: Nunito;
    font-size: 0.9rem;
    cursor: auto;    
}/*recall that this span is to enable toggling of address visibility if site is switched to mobile view

/*the church courtyard backdrop*/
#landing{
    position:absolute;
    height: var(--landingHeight);
    width: 100vw;
    background-image: url('/img/west.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#contrast{
    position: absolute;
    background: var(--contrast_accent);
    height: 100vh;
    height: var(--landingHeight);
    width: 100vw;
    /* opacity: 0.7; */
}

.main{
    position: absolute;
    /*dimension and position values defined in respective media queries*/
    color: var(--accentMain);
    font-size: 4.5rem;
    font-family:'Segoe UI', Tahoma, sans-serif;
    
}
.main p{
    font-family: Nunito;
}

.menu{
    width: 100vw;
    position: sticky;
    top: 0;
    height: 2.17rem;
    background-color: var(--menu_accent);
    opacity: 1;
    z-index: 3;
}

#imgBlk{
    position: relative;
    /*dimension properties defined in respective media queries*/
    border-bottom-left-radius: 15%;
    background-color: var(--imgBlk_accent);
    background-image: url('/img/skee346.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#imgTop{
float: left; clear: both;
    width: 7rem;
    height: 140%;
    margin: 0.5rem 0.6rem 0rem 2.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/*the banner and asscociated links concerns*/
#banner{
    position: relative;
    width: 100vw;
    height: var(--bannerHeight);
    background-color: var(--banner_accent);
    opacity: 0.9;
    z-index: 5;
    display: grid;
    grid-template-rows: 25% 20% 17.5% 37.5%;
    grid-template-columns: 3.5fr 2fr 1.5fr 3fr;
    grid-template-areas:
    "ofu . . ."
    "ofu ibuo ito ino"
    "ofu ibuo ito ino"
    "ofu ibuo ise ."
}
.sectionA{
    font-family: 'Olde English Regular';
    grid-area: ofu;
}
.sectionB{
    grid-area: ibuo;
}

.sectionC{
    grid-area: ito;
    text-align: right;
}/*recall that this section has the social media links*/
/*social links concerns*/
.social{
    margin-left: 0.2rem;
}
#fb:hover{
    background-color: var(--fb);
    box-shadow: 4px 2px 3px var(--fb);
}
#ig:hover{
    background-color: var(--ig);
    box-shadow: 4px 2px 3px var(--ig);
}
#ws:hover{
    background-color: var(--ws);
    box-shadow: 4px 2px 3px var(--ws);
}
/*end of social links concerns for desktop and tablets*/


.sectionD{
    grid-area: ino;
}/*recall that this section has the

/*optional mass and contact buttons only visible on desktop site*/
#massEnq, #contEnq{
    position: absolute;
    width: 7rem;
    height: 2rem;
    right: 10rem;
    font-family: Nunito;
    box-sizing: border-box;
    padding-top: 0.5rem;
    cursor: pointer;
    color: var(--link_nav);
    font-weight: bold;
}
#contEnq{
    right: 1rem;
}
#massEnq a, #contEnq a{
    color: var(--link_nav);
}

@media only screen and (max-width: 959.98px){
    #contEnq, #massEnq{
        display: none;
    }
}
/*end of optional mass & contacts buttons concerns*/

.sectionE{
    grid-area: ise;
}/*this section is to contain the intended
colour scheme-changing buttons for day and night browsing
to be included at a later time*/


/*********************************************************/
/*********************************************************/
/*body of text and all that comes after the landing image*/

#missionStatement, #massTimes{
    position: relative;
    margin: auto;
    /*dimensions defined in respective media queries*/
}

#missionStatement{
    color: var(--link_nav);
    /* background: var(--banner_accent); */
}

.missionBar{
    position: relative;
    border: 2px solid var(--menu_accent);
    width: 50vw;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

#missionStatement{
    width: 84vw;
    height: 8rem;
    margin-bottom: 3rem;
    padding: rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

#mst_head, #mst_end{
    position: relative;
    top: 1rem;
    text-align: right;
    margin-right: 21rem;
    margin-bottom: 1rem;
    font-family: Nunito;
    font-size: 1.6rem;
}
#mst_text{
    position: relative;
    font-family: "Nunito italic";
    font-size: 3rem;
    text-align: right;
    margin-right: 3rem;
}
#mst_end{
    font-family:"Nunito italic";
    margin-right: 2rem;
    font-size: 1.2rem;
}
#massTimes{
    width: 96%;
    height: 35vw;
    margin-bottom: 3rem;
    box-sizing: border-box;
    border-radius: 0.6rem;
}

.sideBar{
    display: none;
}/*this is to display only on mobile*/


/*the web version menu concerns*/
@media only screen and (min-width: 600px){
    .menu{
        display: grid;
        grid-template-columns: 0.6fr 0.4fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "spacer menu1 menu2 menu3 menu4 menu5 menu6";
    }
}
@media only screen and (min-width: 600px) and (max-width: 750px){
    .dropmenu1{
        display: none;
    }
}

@media only screen and (min-width: 620px) and (max-width: 1275px){
    .menu{
        display: grid;
        grid-template-columns: 0.8fr 0.2fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "spacer menu1 menu2 menu3 menu4 menu5 menu6";
    }
}

.spacer{
    grid-area: spacer;
    text-align: center;
}
.spacer a{
    text-decoration: none;
    color: var(--home_topLeft);
    font-family: Nunito;
}
.spacer p{
    padding-top: 0.4rem;
}

.dropmenu1{
    grid-area: menu1;
}
.dropmenu2{
    grid-area: menu2;
}
.dropmenu3{
    grid-area: menu3;
}
.dropmenu4{
    grid-area: menu4;
}
.dropmenu5{
    grid-area: menu5;
}
.dropmenu6{
    grid-area: menu6;
    background: var(--fb);
}
.drop{
    position: relative;
    top: 0rem;
    display: inline-block;
    cursor: pointer;
}

.dropBtn, .drop p{
    color: var(--menu_mainLinks);
    text-align: center;
    padding-top: 0.6rem;
    font-family: "Nunito bold";
}
.dropBtn{
    height: 1.5rem;
}
.dropLinks{
    position: absolute;
    display: none;
    background-color: var(--menu_collapsedLinksCard);
    min-width: 18rem;
    box-shadow: 0px 8px 16px 8px #000000cc;
}
    .dropLinksExtra{
        position: absolute; left: 10rem; top:0;
        display: none;
        background-color: var(--menu_collapsedLinksCard);
        min-width: 18rem;
        box-shadow: 0px 8px 16px 8px #000000cc;
}
.dropLinks a{
    padding: 0.8rem 2rem;
    border: solid 1px var(--menu_collapsedLinksBorders);
    color: var(--link_nav);
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Nunito italic";
    text-decoration: none;
    display: block;
}
    .dropLinksExtra a{
        padding: 0.8rem 2rem;
        border: solid 1px var(--menu_collapsedLinksBorders);
        color: var(--link_nav);
        font-size: 1.1rem;
        font-weight: bold;
        font-family: "Nunito italic";
        text-decoration: none;
        display: block;
}

.dropLinks a:hover{
    background-color: var(--menu_accent);
    color: var(--menu_collapsedLinks);
    font-weight: normal;
}
    .dropLinksExtra a:hover{
        background-color: var(--menu_accent);
        color: var(--menu_collapsedLinks);
        font-weight: normal;
    }
    
.drop:hover .dropLinks{
    display: block;
}
    .overview:hover .dropLinksExtra{
        display: block;
    }
    .parishFinance:hover .dropLinksExtra{
        display: block;
    }
    .parishOffice:hover .dropLinksExtra{
        display: block;
    }
    .funerals:hover .dropLinksExtra{
        display: block;
    }
    .adultFaith:hover .dropLinksExtra{
        display: block;
    }
    .specialPro:hover .dropLinksExtra{
        display: block;
    }
    .parishMaint:hover .dropLinksExtra{
        display: block;
    }
    

.drop:hover{
    background: var(--link_navHighlight);
}

.support{
    right: 0;
}
.AFF{
    top: 2rem;
}
.SPRO{
    top: 10rem;
    left: -16rem;
}
.donate{
    top: 4rem;
    left: -16rem;
}

/*all devices not mobile*/
@media only screen and (min-width: 600px){
    #hamburger{
        display: none;
    }
}
/*end of web version dropmenu concerns*/

/*the pseudo-carousel for mass and confession times*/
@keyframes emergeLeft{
    10%{
        transform: translateX(80%) rotateY(0deg);
    }
    40%{
        transform: translateX(0%) rotateY(10deg);
        z-index: 0;
    }
    50%{
        z-index: -1;
    }
    60%{
        transform: translateX(20%) rotateY(0deg);
    }
    80%{
        z-index: -1;
        transform: translateX(20%) rotateY(0deg);
    }
    100%{
        z-index: -1;
        transform: translateX(20%) rotateY(0deg);
    }
}

@keyframes emergeRight{
    10%{
        transform: translateX(-80%) rotateY(0deg);
    }
    40%{
        transform: translateX(0%) rotateY(-10deg);
        z-index: 0;
    }
    50%{
        z-index: -1;
    }
    60%{
        transform: translateX(-20%) rotateY(0deg);
    }
    80%{
        z-index: -1;
        transform: translateX(-20%) rotateY(0deg);
    }
    100%{
        z-index: -1;
        transform: translateX(-20%) rotateY(0deg);
    }
}
@media only screen and (min-width: 600px){
    .emLeft{
        animation-name: emergeLeft;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll)*-1s);
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    .emRight{
        animation-name: emergeRight;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll)*-1s);
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }}


.skedAb{
    height: 90%;
    margin-top: 10%;
    border-radius: 0.3rem;
    font-family: 'Nunito';
    font-size: 0.9rem;
    padding: 0.4rem;
    padding-top: 1rem;

}

@media only screen and (min-width:900px){
    .skedAb, .col_Content {
        font-size: 1.5rem;
    }
}

.massSchedule{
    grid-area: mass;
    border-radius: 0.3rem;
    color: #fff;    
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;

}

.confessionSchedule{
    grid-area: conf;
    background-color: var(--banner_accent);
    background-image: url('/img/rosary_conf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -3.5rem;
    background-blend-mode: overlay;

    transform: translateX(80%) rotateY(60deg);
    transform-style: preserve-3d;
    transform-origin: 90%;
}


.adorationSchedule{
    grid-area: ador;
    background: var(--banner_accent);
    background-image: url('/img/cross-ador.jpg');
    background-repeat: no-repeat;
    background-size: 140%;
    background-position-x: -4rem;
    background-position-y: 5rem;
    background-blend-mode: overlay;

    transform: translateX(-80%) rotateY(-60deg);
    transform-style: preserve-3d;
    transform-origin: 10%;
    text-align: right;
}

.scheduleAll{
    display: grid;
    grid-template-columns: 0.95fr 0.05fr 1.5fr 0.05fr 1fr;
    grid-template-areas: 'conf . mass . ador';
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.mCaption{
    text-align: center;
    font-family: 'Olde English Regular';
    font-size: 2rem;
}
.bolde{
    color: var(--link_nav);
    color: rebeccapurple;
}

#oneCol, #twoCol{
    width: 48%;
    height: 90%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background: var(--menu_accent);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.col_Content{
    
    width: 85%;
    height: 25%;
    letter-spacing: 1px;
    line-height: 1.2;
    font-family: "Nunito";
}
.col_Space{
    height: 10%;
}


/*things that come after the stone tablets of mass times*/

.middle{
    position: relative;
    width: 100vw;
    background: var(--banner_accent);
}

.middle h2{
    color: var(--link_nav);
    font-family: 'Nunito';
    padding-top: 1.5rem;
    padding-left: 2rem;
    text-align: left;
    text-shadow: 
    10px 10px 5px var(--link_nav);
    letter-spacing: 3px;
    line-height: 1.2;
    font-size: 4.4rem;
}

.aisle{
    position: relative;
    width: 55%;
    height: 30vw;
    margin-left: 2%;
    margin-top: 2%;
}

.aisle img{
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
}
.welcomeText{
    position: absolute;
    top: 5%; right: 2%;
    width: 35%;
    color: var(--menu_accent);
    font-family: Nunito;
    font-size: 1.8rem;
    box-sizing: content-box;
    padding: 1rem;
    letter-spacing: -2px;
    word-spacing: 10px;
    line-height: 1.3;
}

@media only screen and (min-width: 900px) and (min-height: 1000px) {
    .welcomeText{
        font-size: 1.5rem;
        line-height: 1.2;
        top: 2%;
    }
    .middle h2{
        font-size: 3rem;
    }
    .middle{
        min-height: 50vh;
    }
}
